#
# Focaltech Touchscreen driver configuration
#

config TOUCHSCREEN_FT8006M
	tristate "FT8006M touchscreen driver"
	depends on I2C
	default n
	help
	  Say Y here if you have Focaltech touch panel.
	  If unsure, say N.
